<div>
  <div class="Main_Nav">
    <ul>
      <li class="Menu_Items">Chef-Curated Menus</li>
      <li class="Menu_Items">Private Dining</li>
      <li class="Menu_Items">Insider Privileges</li>
    </ul>
  </div>

  <div class="Hero">
    <p class="Hero-Text">The Supper Club. Reinvented.</p>
    <p class="Hero_Sub_Title">A New Way to Experience Top Restaurants.</p>
    <%= image_tag('/images/Hero/more_arrow.svg') %>
  </div>

  <div class="Section2_About">
    <p class="Section_Title">Distinctive Dining Experiences</p>
    <p class="Section_Body_Text">Tasting Collective is a private community for food lovers. Partnering with top restaurants, we elevate the experience of dining out for our members. Enjoy private chef-curated menus, access to unique dining spaces, and behind-the-scenes privileges, such as kitchen tours and chef meet-and-greets.</p>
  </div>

  <div>
    <div class="SS_BG Savor_Section"></div>
    <div class="SS_BG Discover_Section"></div>
    <div class="Top_Restaurants_Section"></div>
  </div>

  <div class="Footer"></div>
</div>