<div>
  <div class="Main_Nav">
    <ul>
      <li class="Menu_Items">Chef-Curated Menus</li>
      <li class="Menu_Items">Private Dining</li>
      <li class="Menu_Items">Insider Privileges</li>
    </ul>
  </div>

  <div class="Nav_Div"></div>

  <div class="Hero">
    <p class="Hero-Text">The Supper Club. Reinvented.</p>
    <p class="Hero_Sub_Title">A New Way to Experience Top Restaurants.</p>
    <%= image_tag('/images/Hero/more_arrow.svg') %>
  </div>

  <div class="Section2_About">
    <p class="Section_Title">Distinctive Dining Experiences</p>
    <p class="Section_Body_Text">Tasting Collective is a private community for food lovers. Partnering with top restaurants, we elevate the experience of dining out for our members. Enjoy private chef-curated menus, access to unique dining spaces, and behind-the-scenes privileges, such as kitchen tours and chef meet-and-greets.</p>
    <a href="#" class="link_style">Grab Your Seat</a>
  </div>

  <div class="SS_BG Savor_Section">
    <div class="SS_Text_BG" id="Savor_Section_Text">
      <p class="SS_Title">Savor The Chef’s Best</p>
      <div class="SS_Line_Separator"></div>
      <p class="SS_Body_Copy">Enjoy private menus thoughtfully constructed by award-winning chefs. Sample an assortment of the restaurant’s signature dishes as well as inventive off-menu creations.</p>
    </div>
  </div>

  <div class="SS_BG Discover_Section">
    <div class="SS_Text_BG" id="Discover_Section_Text">
      <p class="SS_Title">Discover Unique Spaces</p>
      <div class="SS_Line_Separator"></div>
      <p class="SS_Body_Copy">From chef’s tables to wine cellars to private rooms, we always aim to enhance the dining experience by giving our members access to exclusive venues.</p>
    </div>
  </div>

  <div class="Top_Restaurants_Section">
    <p class="Top_Restaurants_Section_Title">Only The Very Best</p>
    <p class="Section_Body_Text">From Critic’s Picks restaurants to James Beard Award-winning chefs, We always host our dining experiences at the most sought-after restaurants.</p>
    <a href="#" class="view_experiences_link_style">View upcoming experiences</a>
  </div>

  <div class="Footer"></div>
</div>